<%- include('header') -%>

<div class="container">
    <div class="form-box">
        <h2>Registeration is UnSuccessful !</h2> 
        <i class="fa-solid fa-circle-exclamation iconEjs failure"></i>
    </div>
   
</div>


<%- include('footer') -%>