<%- include('header') -%>

<div class="container">
    <div class="form-box">
        <h1>Hello <%= Username %>,</h1>
        <h2>Registeration is Successful !</h2>
        <i class="fa-solid fa-circle-check iconEjs success"></i>
    </div>
</div>


<%- include('footer') -%>